<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/home.css"></link>
    <head>

        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="/overview">overview</a></li>
            </ul>
        </nav>
        
        <title>
            Rust Base
        </title>
    </head>
    <body>
        <h1>
            Rust Base
        </h1>
        <p>title: <%= title %></p>
        <p>content: <%= content %></p>
        <p>Creator: <%= Creator %></p>
    </body>
</html>